<div class="card text-white bg-success mb-3" style="max-width: 18rem;">
    <div class="card-header">PERFIL PADRE</div>
    <div class="card-body">
      <h5 class="card-title">BOTON PARA EDITAR PADRES</h5>
      <a routerLink="listaPapa" class="btn btn-sm btn-danger mb-2">Admin Padre</a>
    </div>
  </div>
  <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
    <div class="card-header">PERFIL HIJO</div>
    <div class="card-body">
      <h5 class="card-title">BOTON PARA EDITAR HIJOS</h5>
      <a routerLink="listaHijo" class="btn btn-sm btn-danger mb-2">Admin hijo</a>
    </div>
  </div>
  <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
    <div class="card-header">PERFIL SANTA</div>
    <div class="card-body">
      <h5 class="card-title">BOTON PARA EDITAR SANTAS</h5>
      <a routerLink="listaSanta" class="btn btn-sm btn-danger mb-2">Admin Santa</a>
    </div>
  </div>



