<h1>Buenas acciones</h1>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Add accion</a>
<table class="table table-striped" style="background-color: rgb(23, 216, 200); color: white;">
    <thead>
        <tr>
            <th>titulo</th>
            <th >descripcion</th>
            <th >recompensa</th>
            <th >edad</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.titulo}}</td>
            <td>{{user.descripcion}}</td>
            <td>{{user.recompensa}}</td>
            <td>{{user.edad}}</td>
            <td style="white-space: nowrap">
                <a routerLink="edit/{{user.idaccion}}" class="btn btn-sm btn-primary mr-1">Editar</a>
                <button (click)="deleteUser(user.idaccion)" class="btn btn-sm btn-danger btn-delete-user" [disabled]="user.isDeleting">
                    <span *ngIf="user.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!user.isDeleting">eliminar</span>
                </button>
            </td>
        </tr>
        <tr *ngIf="!users">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>