<div class="card text-white bg-success mb-3" style="max-width: 18rem;">
    <div class="card-header">REPORTE 1</div>
    <div class="card-body">
      <h5 class="card-title">TOP 10 PRODUCTOS MAS COMPRADOS</h5>
      <a routerLink="reporte1" class="btn btn-sm btn-danger mb-2">VER REPORTE</a>
    </div>
  </div>
  <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
    <div class="card-header">REPORTE 2</div>
    <div class="card-body">
      <h5 class="card-title">TOP 10 DEPARTAMENTOS CON MAS VENTAS</h5>
      <a routerLink="reporte2" class="btn btn-sm btn-danger mb-2">VER REPORTE</a>
    </div>
  </div>
  <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
    <div class="card-header">REPORTE 3</div>
    <div class="card-body">
      <h5 class="card-title">TOP 10 MUNICIPIOS CON MAS VENTAS</h5>
      <a routerLink="reporte3" class="btn btn-sm btn-danger mb-2">VER REPORTE</a>
    </div>
  </div>
  <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
    <div class="card-header">REPORTE 4</div>
    <div class="card-body">
      <h5 class="card-title">TOP 5 BUENAS ACCIONES MAS REALIZADAS</h5>
      <a routerLink="reporte4" class="btn btn-sm btn-danger mb-2">VER REPORTE</a>
    </div>
  </div>
  <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
    <div class="card-header">REPORTE 5</div>
    <div class="card-body">
      <h5 class="card-title">BITACORA DE RESPUESTAS A PUBLICACIONES DE SANTA POR NIÑO</h5>
      <a routerLink="reporte5" class="btn btn-sm btn-danger mb-2">VER REPORTE</a>
    </div>
  </div>
  <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
    <div class="card-header">REPORTE 6</div>
    <div class="card-body">
      <h5 class="card-title">TOP 5 CATEGORIA CON MAS VENTAS</h5>
      <a routerLink="reporte6" class="btn btn-sm btn-danger mb-2">VER REPORTE</a>
    </div>
  </div>
  <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
    <div class="card-header">REPORTE 7</div>
    <div class="card-body">
      <h5 class="card-title">TOP DE CARTAS CON MAYOR GASTO DE BASTONES</h5>
      <a routerLink="reporte7" class="btn btn-sm btn-danger mb-2">VER REPORTE</a>
    </div>
  </div>